<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Catbreeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let cat of listCats">
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
      />
      <ion-card-header>
        <ion-card-title>{{cat.name}}</ion-card-title>
        <ion-card-subtitle>
          <b>Pais de origen:</b> {{ cat.origin }}</ion-card-subtitle
        >
        <ion-card-subtitle
          ><b>Inteligencia:</b> {{ cat.temperament }}</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content> {{ cat.description }} </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
